.liveData {
  display: flex;
  flex-direction: column;
}
.liveDataContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 20px;
}
.liveDataBg {
  background: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.18);
}
.livedataFlex {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0px 10px;
}
.livedataFlex > .Link {
  padding: 10px 0;
  text-decoration: none;
  color: #f6ba13;
  font-size: 20px;
}

.liveDataTableContanier {
  width: 100%;
  margin: 0 auto auto auto;
  padding-bottom: 40px;
  background: white;
  border-radius: 25px;
}
.liveDataTableContanier > .table {
  border-radius: 10px;
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  width: 90%;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
}

.liveDataTableContanier > .table > .thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.liveDataTableContanier > .table > .thead > .tr {
  height: 60px;
  font-size: 16px;
}
.liveDataTableContanier > .table > .thead > .tr > th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: black;
  line-height: 1.2;
  font-weight: unset;
  text-align: center;
  border: 1px solid lightgray;
}
.column1 {
  width: 260px;
  padding-left: 10px;
}
.liveDataTableContanier > .table > .tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  background: white;
}
.liveDataTableContanier > .table > .tbody > .tr {
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  height: 48px;
  text-align: start;
}
.liveDataTableContanier > .table > .tbody > .tr > td {
  border: 1px solid lightgray;
  text-align: center;
}

.liveDataTableContanier > .table > .tbody > .tr > .tdyellow {
  color: #f6ba13;
}
.liveDataTableContanier > .table > .tbody > .tr > .tdgreen {
  color: #71c41d;
}
.liveDataTableContanier > .table > .tbody > .tr > .tdblue {
  color: #2bbfcf;
}
@media only screen and (max-width: 850px) {
  .MachineContainer {
    grid-template-columns: 1fr;
  }
}
